.Chat-box
  .Chat-box__groups-info
    .Chat-box__groups-info__left
      .Chat-box__groups-info__left__title
        = @group.name
      %ul.Chat-box__groups-info__left__members
        Menber :
        - @group.users.each do |user|
          = user.name
        %li.Chat-box__groups-info__left__member
        hiroyuki
   
    = link_to 'Edit' , edit_group_path(@group.id) , class: 'Edit' 
        
  .MessageField
    = render @messages

  
  .Chat-box__message-form
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      .Chat-box__message-form__input-box
        = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
        = f.label :image, class: 'input-box__text' do
          = icon('far', 'image', class: 'Form__icon')
          = f.file_field :image, class: 'input-box__image__file'
      = f.submit 'Send', class: 'submit-btn'

  