.Side-box
  .Side-box__user-name
    .Side-box__top-items
      %p.Side-box__top-items__name
        hiroyuki
      %ul.Side-box__top-items__icons
        %li.Side-box__top-items__icons--fa
          = link_to "#" do
            = icon('far', 'edit')
        %li.Side-box__top-items__icons--edit
          = link_to "#" do
            = icon('fas', 'cog')
  .Side-box__group-lists
    .Side-box__group-list
      = link_to "#" do
        .Side-box__group-list__group-name
          hiroyuki
        .Side-box__group-list__group-message
          まだメッセージがありません。